body {
  margin: 30px;
  background-color: #1f1e1e;
}

ul {
  list-style: none;
  padding-left: 0;
}

.giphy-li {
  display: inline;
  padding-right: 10px;
}
/* 
.giphy-li:hover {
  transform: scale(1.04);
} */

img {
  border-radius: 5px;
}

.search-div {
  display: flex;
  flex-direction: row;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  width: 75%;
  height: 30px;
  font-size: 15px;
  font-family: 'Helvetica';
  margin-right: 2px;
  padding: 0;
  border: 1px solid lightgray;
}

button {
  padding: 6px;
  border: none;
  font-size: 10px;
}


.giphy-content {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.giphy-detail {
  background-color: ghostwhite;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}
